head
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
  link(href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css", rel="stylesheet")
  link(href="https://cdn.datatables.net/buttons/2.3.0/css/buttons.dataTables.min.css", rel="stylesheet")
  title Doctor #{orde.medico}
  link(rel='stylesheet', href='/stylesheets/navbar.css')

body
  img.imagen-centrada(src='/img/nombreLab.png', alt='Titulo')

  .container
    .d-none
     include navBar.pug
    include navBar.pug 
    h3 Doctor #{orde.medico}   
    h3 Orden N° #{orde.id} 
    h3 Diagnostico: #{orde.diagnostico}

    .container
     - const arrayResultados=[];
     - const arrayDeterminaciones=[];
     - const arrayJuntos=[]; 
      each examen in exam
        h4= examen.Examen.nombre
        table.display(style="width:100%")
          thead
            tr
              th Nombre
              th Valor Ref Minimo 
              th Valor Ref Maximo 
              th Resultado
          tbody
            each determinacion in examen.Examen.ExamenDeterminacions
              tr
                td= determinacion.Determinacion.dataValues.nombre
                - const valorReferencia = determinacion.Determinacion.dataValues.ValorReferencia[0] // Suponiendo que solo hay un valor de referencia por determinación
                - const resultado = determinacion.Determinacion.dataValues.Resultados[0] // Suponiendo que solo hay un resultado por determinación
                td= valorReferencia ? valorReferencia.valorMaximo : "No se encuentra"
                td= valorReferencia ? valorReferencia.valorMinimo : "No se encuentra"
                td
                  input(type="text", class="resultado-input", name="resultados[]", placeholder="Ingrese resultado", value=resultado ? resultado.valor : "")

                  input(type="hidden", name=`determinacionIds[${determinacion.Determinacion.id}]`, value=determinacion.Determinacion.id)

        form(id="formulario", action="/vistaTecBioq/ingresarResultados", method="post")
          input(type="hidden", name="ordenId", value=orde.id)
          input(type="hidden", name="resultanes", value=resultados)

          each examen in exam
            each determinacion in examen.Examen.ExamenDeterminacions
              input(type="hidden", name=`determinacionIds[${determinacion.Determinacion.id}]`, value=determinacion.Determinacion.id)

          input(type="submit", value="Guardar Resultados", class="btn btn-primary")


  script(src="https://code.jquery.com/jquery-3.7.0.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
  script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/buttons/2.3.0/js/dataTables.buttons.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
  script(src="https://cdn.datatables.net/buttons/2.3.0/js/buttons.html5.min.js")
  script(src="https://cdn.datatables.net/buttons/2.3.0/js/buttons.print.min.js")
  script.
   $(document).ready(function() {
    $('table.display').DataTable();
  
    const formulario = document.getElementById("formulario");
    const resultadosInputs = document.querySelectorAll(".resultado-input");
    console.log(resultadosInputs);
    formulario.addEventListener("submit", function(event) {
        event.preventDefault(); 
      
        const resultados = {}; // Creamos un objeto para almacenar los resultados
      
        resultadosInputs.forEach(function(input) {
           resultados[input.name] = input.value; // Agregamos el valor de cada input al objeto de resultados usando el nombre del input como clave
        });

        // Enviar los datos al backend utilizando AJAX
        $.ajax({
            type: "POST",
            url: "/vistaTecBioq/ingresarResultados",
            data: {
                ordenId: orde.id,
                resultados: resultados
            },
            success: function(response) {
                // Manejar la respuesta del servidor si es necesario
                console.log("Respuesta del servidor:", response);
            },
            error: function(error) {
                // Manejar errores si es necesario
                console.error("Error al enviar los datos:", error);
            }
        });
    });
   });

